/* div {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-content: center;
} */

.body_color tr {
    background-color: white;
}

.rft{
    --rft-main-color: #3dce8a;
    --rft-button-color: #3dce8a;
    --rft-even-row-color: #f3f3f3;
}
div.formcontainer{
    width: 100%;
    border-radius: 5px;
    border-color: cornflowerblue;
    border: 1px;
    padding: 10px;
}
.for_refresh{
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.btn-success {
    background-color: #17e2af;
    border-color: #17e2af;
    color: #FFF; }
.btn-success:hover,
.btn-success:focus {
    border-color: #4fdab7;
    background-color: #15c79a;
    color: #FFF; }
.btn-success:active,
.btn-success:visited,
.btn-success:active:focus,
.btn-success:active:hover {
    border-color: #4fdab7;
    background-color: #15c79a;
    color: #FFF; }

div.right {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
}
div.task_popup_form{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

div.modalSheet{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    color: black;
    min-height: max-content;
    box-sizing: border-box;
}
div.modalContent{
    display: block;
    align-items: center;
    justify-items: center;
    margin: 5%;
    background-color: rgba(255,255,255);
    border-radius: 5px;
    border: darkgreen;
    border-width: thin;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 600px;

}
div:root{
    height: 100%;
}
body.white{
    background-color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}
.white{
    background-color: white;
    width: 100%;
    height: 100%;
    min-height: 650.5px;
    opacity: 0.95;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}
.menutitle{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    opacity: 0.7;
}
.profilebottom{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
div.logincolumn {
    display: inline-flex;
    margin-top: 150px;
    justify-content: center;
    align-content: center;
    width: 100%;
}
div.registercolumn {
    display: inline-flex;
    margin-top: 50px;
    justify-content: center;
    align-content: center;
    width: 100%;
}
div.row {
    display: block;
}
.header-right-box {
    display: inline-flex;
}
.logincard{
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255,255,255,0.7);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px;
    width: 300px;
    height: max-content;
}
.registercard{
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255,255,255,0.7);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px;
    width: 1000px;
    height: max-content;
}
.pre{
    font-family: SpoqaHanSans;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-top: 250px;
    margin-bottom: 50px;
}

.el-header {
    height: 70px;
    display: block;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

html, body{
    background-image: url('./study.jpg');
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
}

.mainSelect{
    display: flex;
    justify-content: center;
}

.home{
    width: 100%;
    height: 100%;
}

div.space{
    width: 900px;
}

div.headercontents{
    display: flex;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 230px;
    padding-right: 230px;
    align-items: center;
}

div.menu{
    width: 100%;
    height: 100%;
    background-color: white;
}

.title{
    width: 101px;
    height: 22px;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    outline:0;
    border:0;
    font-style: normal;
    font-stretch: normal;
    background: unset;
}

.header-right{
    width: 101px;
    height: 22px;
    font-family: Verdana;
    font-size: 13px;
    color: #fff;
    border:none;
    outline: none;
    font-style: normal;
    font-stretch: normal;
    background: unset;
    margin-left: 1px;
    border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer;
}

button:focus,
button:active{
    border:none; box-shadow:none; border-radius:0; overflow:visible; cursor:pointer;
    border:0;
    outline:0;
    border-bottom-color: none;
    border-top-color: none;
    border-right-color: none;
    border-left-color: none;
}

.welcome{
    height: 22px;
    width: 250px;
    font-family: Verdana;
    font-size: 13px;
    color: #fff;
    outline:0;
    border:0;
    font-style: normal;
    font-stretch: normal;
    background: unset;
    margin-right: 5px;
    margin-left: 50px;
}

.mainbutton{
    height: 250px;
    width: 250px;
    border: 1px solid rgba(119, 119, 119,0.1); 
    background-color: rgba(219, 219, 219,0.1);
    color: white;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px; 
    border-top-right-radius: 60px; 
    border-bottom-right-radius: 60px;
    font-family: SpoqaHanSans;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    margin-right: 20px;
    margin-left: 20px;
    outline: 0;
}